<h1>Welcome to AnimalBot! I want to play a little game...</h1>
<%=image_tag("rhino.png", alt: "Example Image")%>

<h1>Hello, I am brown and furry, what am I?</h1>

<%= form_for :Cat, url: home_index_path do |f| %>
  <!-- <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p> -->

  <p>
    <%= f.submit "Cat" %>
  </p>
<% end %>

<%= form_for :Dog, url: home_index_path do |f| %>
<p>
  <%= f.submit "Dog" %>
</p>
<% end %>
